.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; /* Make the navbar background transparent */
  padding: 10px 20px;
  height: 80px; /* Height of the navbar */
  position: absolute; /* Position the navbar on top */
  width: 100%; /* Make the navbar full width */
  top: 0; /* Align the navbar to the top */
  z-index: 1000; /* Ensure the navbar is on top of other content */
}

.logo img {
  width: 50px; /* Set width of the logo */
  height: 50px; /* Set height of the logo */
  border-radius: 50%; /* Make the logo circular */
  object-fit: cover;
}

.nav-middle, .nav-right {
  display: flex; /* Add this to make links horizontal */
  align-items: center;
}

.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px; /* Add padding for better button appearance */
  border-radius: 5px; /* Optional: add border radius for rounded corners */
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5); /* Adjust text border color and intensity */
}

.nav-link:hover {
  color: rgb(245, 88, 9);
}